@page
@using System.Security.Claims;
@using EmploymentServiceWebApp.Areas.Identity.Data;
@using EmploymentServiceWebApp.Models;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model EmployeesModel
@{
	var employees = await UserManager.GetUsersInRoleAsync("Employee");
}
<style>
    .vacancy {
    cursor: pointer;
    border: solid 1px #b0b0b0; /*#ff6a00*/
    height: auto;
    width: 100%;
    padding: 50px 30px 50px 30px;
    transition: scale 0.3s ease-in-out;
}
    .vacancy:hover {
        scale: 1.05;
        box-shadow: 0px 0px 10px 1px #b0b0b0;
    }

.vacancy-position-salary {
    
    display: flex;
    justify-content: space-between;
}

    .vacancy-position-salary:first-child {
        align-self: flex-start;
    }

    .vacancy-position-salary:last-child {
        align-self: flex-end;
    }
    a {
    text-decoration: none;
    outline: none;
    color:black;

}
</style>
@foreach(var empl in employees)
{
    <form asp-controller="Employee" asp-action="DeleteEmployee" method="post">
        <div class="vacancy mb-3" >
            <div class="vacancy-position-salary">
                <h3>@empl.Name @empl.SurName</h3>
                <h2>@empl.Email</h2>
            </div>
        </div> 
        <input hidden type="text" name="id" value="@empl.Id">
        <button style="height:20%;" class="w-100 mb-3 btn btn-lg btn-primary" >Видалити</button>
    </form>
@*    <form asp-controller="Employee" asp-action="DeleteEmployee" method="post">
        <input hidden type="text" name="id" value="@empl.Id">
        <button style="height:20%;" class="w-100 mb-3 btn btn-lg btn-primary" >Видалити</button>
    </form>*@
	@*<form asp-controller="Employee" asp-action="ViewEmployeeDetail" method="post">
        <div class="vacancy mb-3" >
            <div class="vacancy-position-salary">
                <h3>@empl.Name @empl.SurName</h3>
                <h2>@empl.Email</h2>
            </div>
        </div> 
        <input hidden type="text" name="id" value="@empl.Id">
        <button style="height:20%;" class="w-100 mb-3 btn btn-lg btn-primary" >Редагувати</button>
    </form>
    <form asp-controller="Employee" asp-action="DeleteEmployee" method="post">
        <input hidden type="text" name="id" value="@empl.Id">
        <button style="height:20%;" class="w-100 mb-3 btn btn-lg btn-primary" >Видалити</button>
    </form>*@
}
